doctype
html
	head
		title=title
		meta(name="google-site-verification",content="HDeXBuBSl0yztZK-g6I_fbh2SdazlhfhV8gJ0p-0Bo8")
		meta(name="msvalidate.01",content="DCBCA5D010CD9EDC390BA64B13F851E5")
		meta(name="alexaVerifyID",content="kjwwBuKF2Z9RPG5UVk2qOE-kvQM")
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		meta(http-equiv="content-language",content="Tr-tr")
		meta(name="keywords",content="#{keywords}")
		meta(name="description",content="#{description}")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
		script(src='/javascripts/analytics.js')
	body
		#wrap
			.container
				include header
				block content
				include blogfooter
			
			script(type='text/javascript', src='/javascripts/bootstrap.min.js' async)
			block js
			link(rel='stylesheet', href='/stylesheets/bloglayout.css')
			link(rel='stylesheet', href='/stylesheets/#{stylesheet}.css')