extends ../../../views/bloglayout
block content
	.container
		.row
			.col-md-10
				.row
					-posts.forEach(function(post) {
					.posts
						a(href="/Post/"+urlify(post.title))
							h3= post.title
						p!{post.body.substring(0,1000)}
						p
							b
								u 
									a(href="/Post/"+urlify(post.title)) Devamı için tıklayınız...
					-})
			.col-md-2
				.row
					.well
						ul(aria-label="Kategoriler")
							-categories.forEach(function(category) {
								li 
									a(href="/Kategori/#{category.seoname}") #{category.name}
								
							-})
				.row
					.well
						ul(aria-label="Son Yorumlar")
							-comments.forEach(function(comment){
								li
									p#commentemail #{comment.email.split("@",1)}
									p#commentcontent #{comment.content}


							-})
				.row
					.well
						ul(aria-label="Dost Siteler")
							-sites.forEach(function(site){
								li
									-if(site.followtype=='Evet')
										a(href="#{site.url}",rel="doFollow") #{site.name}
									-else
										a(href="#{site.url}") #{site.name}
							-})
								
						